body {
	font-weight: 300;
}

strong {
	font-weight: 400;
}

#header {
	border-top: 4px solid $green;
	padding: 0 0 30px 0;
	.site-logo {
		display: block;
		width: 300px;
		height: 90px;
		background: transparent url(../img/logo.png) top left no-repeat;
		text-decoration: none;
		text-indent: -9999px;
		margin: 50px 0 30px 0;
		h1, h2, h3, p {
			margin: 0;
			padding: 0;
		}
	}
	.site-nav {
		ul {
			list-style: none;
			margin: 87px 0 0 0;
			padding: 0;
			text-align: right;
		}
		a {
			text-decoration: none;
			font-weight: 300;
			text-transform: uppercase;
			padding: 5px 5px 2px 5px;
			border-bottom: 1px solid transparent;
		}
		li {
			display: inline-block;
			margin: 0 0 0 10px;
		}
	}
	.quick-nav {
		position: absolute;
		top: 0;
		right: 0;
		@include clearfix();
		.social {
			display: inline;
			float: left;
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				display: block;
				float: left;
				position: relative;
				width: 46px;
				height: 25px;
				margin: 10px 0 0 0;
				border-left: 1px solid $grayLight;
				overflow: hidden;
			}
			a {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				padding: 2px 14px;
				color: $grayLight;
				i {
					font-size: $baseFontSize * 1.2;
				}
				&:hover {
					text-decoration: none;
				}
			}
			.social-buttons {
				display: block;
				position: absolute;
				top: 2px;
				left: 46px;
				width: 250px;
				height: 23px;
				@include clearfix();
				.social-button {
					display: block;
					float: left;
				}
			}
		}
		.club-dropdown {
			display: inline;
			float: left;
			.dropdown-toggle {
				display: block;
				background: $green;
				border-bottom: 3px solid $greenDark;
				padding: 5px 18px 7px 18px;
				color: $white;
				text-transform: lowercase;
				&:focus {
					outline: none;
				}
				i {
					margin-left: 10px;
					font-size: $baseFontSize * 0.75;
				}
			}
			.dropdown-menu {
				@include clearfix();
				left: auto;
				top: 30px;
				right: 0;
				width: 405px;
				padding: 12px 5px 10px 0;
				background: $green;
				color: $white;
				@include border_radius(0);
				border: 0;
				border-bottom: 3px solid $greenDark;
				li {
					display: block;
					float: left;
					width: 180px;
					border-bottom: 2px dotted $greenDark;
					margin: 8px 0 0 15px;
					padding: 0 0 5px 0;
					&:nth-last-child(2), &:last-child {
						border-bottom: none;
					}
				}
				a {
					display: block;
					color: $white;
					font-weight: 300;
					padding: 5px;
					&:hover {
						color: $white;
						background: darken($green, 10%);
					}
					strong {
						display: block;
						font-weight: 400;
					}
				}
			}
		}
	}
	.container {
		position: relative;
	}
}

#banner {
	border-top: 1px solid $beigeDark;
	border-bottom: 1px solid $beigeDark;
	background: darken($bodyBackground, 3%) url(../img/noise.png) top left repeat;
	height: 300px;
	.container {
		position: relative;
	}
	&.banner-blog {
		height: 125px;
	}
	.banner-image {
		width: 735px;
		height: 320px;
		position: absolute;
		top: -20px;
		left: -250px;
		&.blog {
			background: url(../img/banner/blog.png) top left no-repeat;
			top: -15px;
			left: -95px;
			width: 568px;
			height: 140px;
		}
		&.tablet {
			background: url(../img/banner/tablet.png) top left no-repeat;
			width: 510px;
			left: -70px;
		}
		&.mobile {
			background: url(../img/banner/mobile.png) top left no-repeat;
			width: 550px;
			left: -90px;
		}
		&.binary {
			background: url(../img/banner/binary.png) top left no-repeat;
			width: 570px;
			left: -115px;
		}
		&.monitor {
			background: url(../img/banner/monitor.png) top left no-repeat;
			width: 665px;
			left: -155px;
		}
		&.monitor_email {
			background: url(../img/banner/monitor_email.png) top left no-repeat;
			width: 665px;
			left: -155px;
		}
		&.laptop {
			background: url(../img/banner/laptop.png) top left no-repeat;
			pre {
				display: block;
				color: #197d96;
				background: none;
				border: none;
				width: 280px;
				height: 140px;
				margin: 35px 0 0 290px;
				font-size: 10px;
				overflow: hidden;
				word-spacing: 1px;
				-webkit-transform: rotate(354deg);
				-moz-transform: rotate(354deg);
				-o-transform: rotate(354deg);
				writing-mode: lr-tb;
			}
		}
	}
	.next-event {
		display: block;
		height: 185px;
		margin: 82px 0 0 0;
		position: relative;
		&:hover {
			text-decoration: none;
		}
		.event-club, .event-location, .event-time {
			font-size: $fontSizeLarge;
			font-weight: 300;
		}
		.event-club {
			text-transform: uppercase;
			span {
				display: none;
			}
		}
		.event-location {
			padding-bottom: 10px;
			margin-bottom: 15px;
			border-bottom: 3px solid $white;
		}
		.event-date {
			.event-date-day, .event-date-month {
				display: block;
				position: absolute;
				text-transform: uppercase;
				font-size: 100px;
				font-weight: 300;
				right: 0;
			}
			.event-date-day {
				top: 8px;
				sup {
					font-size: 50px;
					top: -36px;
				}
			}
			.event-date-month {
				top: 120px;
			}
		}
	}
	.all-events-link {
		text-align: right;
		i {
			font-weight: 300;
			font-size: 12px;
		}
	}
	.banner-text {
		padding: 40px 0;
		color: $blue;
		line-height: $baseLineHeight * 1.75;
		blockquote {
			border: none;
			margin: 0;
			padding: 0;
			text-align: right;
			p {
				text-transform: uppercase;
				font-weight: 400;
				font-size: $baseFontSize * 1.5625;
				line-height: $baseLineHeight * 1.75;
			}
			.quote-by {
				display: block;
				margin: 10px 0 0 0;
				font-size: $baseFontSize;
			}
		}
	}
}

#wrapper {
	margin: 40px 0 20px 0;
}

.box {
	display: block;
	margin: 0 0 20px 0;
	background: $white;
	border-top: 3px solid $blue;
	border-bottom: 1px solid $grayLighter;
	&.box-callout {
		padding-bottom: 10px;
		margin-bottom: 40px;
	}
	.box-content {
		padding: 20px;
		position: relative;
	}
	.box-callout-link {
		display: block;
		position: absolute;
		bottom: -10px;
		right: 0;
		width: 242px; // 332
		height: 30px; // 55
		color: $white;
		text-transform: uppercase;
		font-size: $baseFontSize * 0.875;
		background: url(../img/callout-link.png) top left no-repeat;
		text-align: center;
		padding: 25px 50px 0 40px;
		&:hover {
			text-decoration: none;
		}
		i {
			position: absolute;
			top: 25px;
			right: 20px;
		}
	}
	&.box-stats {
		p {
			text-align: center;
		}
		.statistic {
			font-size: $baseFontSize * 1.625;
			font-weight: 300;
			padding: 0 0 20px 0;
			margin: 0 0 20px 0;
			border-bottom: 1px solid $grayLighter;
			strong {
				display: block;
				font-size: $baseFontSize * 6.25;
				line-height: $baseLineHeight * 5;
				margin: 0 0 8px 0;
				color: $blue;
				font-weight: 300;
			}
		}
	}
	&.box-rows {
		.box-row {
			border-top: 1px solid $grayLighter;
			padding: 25px 0 0 0;
			margin: 25px 0 0 0;
			&:first-child {
				padding: 0;
				margin: 0;
				border: none;
			}
		}
	}
	#content &.box-rows {
		.box-row {
			@include clearfix();
			.box-row-title {
				display: block;
				float: left;
				padding: 15px 0;
				width: 240px;
				font-size: $baseFontSize * 2;
				line-height: $baseLineHeight * 2.20;
				color: $blue;
				font-weight: 400;
				text-align: right;
				text-transform: uppercase;
			}
			.box-row-content {
				display: block;
				float: right;
				width: 580px;
				p:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

.no-results {
	padding: 110px 30px 0 30px;
	text-align: center;
}

.article {
	display: block;
	position: relative;
	margin: 0 0 50px 0;
	background: $white;
	border-top: 3px solid $blue;
	border-bottom: 1px solid $grayLighter;
	.article-header {
		padding: 32px 20px 28px 20px;
		border-bottom: 1px solid $offWhite;
		@include clearfix();
		.article-title {
			display: block;
			float: left;
			margin: 0;
			padding: 0;
			width: 60%;
			font-size: $baseFontSize * 1.5625;
			color: $blue;
			text-transform: uppercase;
		}
		.article-published {
			display: block;
			float: right;
			width: 25%;
			padding: 0;
			color: $grayLight;
			text-align: right;
		}
	}
	.article-content {
		padding: 20px;
	}
	.article-excerpt {
		padding: 0 20px 20px 20px;
	}
	.article-footer {
		padding: 15px 20px;
		border-top: 1px solid $offWhite;
		@include clearfix();
		.article-posted-in {
			display: block;
			float: left;
			margin: 0;
			p {
				color: $grayLight;
				margin: 0;
				padding: 0;
			}
			a {
				text-transform: lowercase;
				color: $grayLight;
				&:hover {
					color: darken($grayLight, 10%);
				}
			}
		}
		.article-social {
			float: right;
			width: 30%;
			margin: 9px 0 0 0;
			padding: 0;
			text-align: right;
			li {
				display: inline-block;
				list-style: none;
				margin: 0;
				padding: 0;
				border-right: 1px solid $grayLight;
				a {
					padding: 2px 14px;
					color: $grayLight;
					i {
						font-size: $baseFontSize * 1.2;
					}
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
	.articles-compact & {
		margin-bottom: 20px;
		border-top-color: $red;
		.article-title {
			font-size: $baseFontSize;
			font-weight: 400;
			text-transform: uppercase;
			margin: 20px;
			padding: 0 0 10px 0;
			border-bottom: 1px solid $grayLighter;
			min-height: 40px;
			a, a:hover {
				color: $gray;
			}
		}
		.article-categories {
			text-transform: lowercase;
		}
		.article-social {
			float: none;
			width: auto;
			margin: 0;
		}
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		right: 15px;
		bottom: -18px;
		width: 28px;
		height: 22px;
		background: url(../img/tail.png) top left no-repeat;
	}
}

// Comments

.comments {
	ul {
    	margin-left: 0;
    	margin-bottom: 0;
    	li {
    		list-style-type: none;
    	}
	}
	.comment {
		padding: 10px;
		margin: 0 0 10px 0;
		background: $white;
		border-bottom: 1px solid $grayLighter;
		ul {
		    margin-left: 2em;
		    margin-bottom: 30px;
		}
		li {
			list-style-type: disc;
		}
		.avatar {
		    float: left;
		    margin: 0 20px 20px 0;
		    border-radius: 3px;
		}
		.fn {
		    color: #555759;
		    margin-bottom: 0;
		    font-weight: bold;
		    position: relative;
		    line-height: 1;
		}
		.comment-meta {
		    display: block;
		    font-size: 14px;
		    line-height: 1;
		    margin-bottom: 10px;
		    color: #777;
		}
		.overflow {
		    position: relative;
		    p {
			    margin-left: 70px;
			}
		}
		.reply {
		    position: absolute;
		    top: 0;
		    right: 0;
		}
	}
	h3 {
    font-size: 18px;
	}
	h5 {
	    margin: 60px 0 30px 0;
	}
}
.commentlist {
    margin-bottom: 50px;
	ul {
    	margin-left: 70px;
	}
}

#commentform {
	h3 {
    	text-transform: uppercase;
    	color: #aaa;
	}
	.required {
	    text-transform: uppercase;
	    color: #aaa;
	    font-size: 12px;
	    margin-bottom: 15px;
	    font-weight: bold;
	    line-height: 1;
	}
	label {
	    display: block;
	}
	textarea {
	    width: 98%;
	    padding-left: 1%;
	    padding-right: 1%;
	    min-height: 140px;
	}
	.comment-form-comment {
	    margin-bottom: 10px;
	}
	#submit_comment {
		display: inline-block;
		width: 150px;
		padding: 6px 0 5px;
		background: $green;
		color: $white;
		font-size: $baseFontSize * 1.125;
		border: 0;
		border-bottom: 3px solid $greenDark;
	    float: right;
	}
}
.comment-notes, .form-allowed-tags, .closed-comments {
    font-size: 12px;
    line-height: 24px;
    color: #bbb;
    text-transform: uppercase;
    font-weight: bold;
}
#cancel-comment-reply-link, .comment-reply-link {
    float: right;
    text-transform: uppercase;
    color: #bbb;
    font-size: 14px;
    font-weight: bold;
}
#respond {
	margin: 30px 0 0 0;
	input {
		max-width: 100%;
	}
}

// Clubs

.clubs .club, #club .club-sidebar {
	background: #fff;
	border-top: 3px solid $blue;
	border-bottom: 1px solid $offWhite;
	margin-bottom: 20px;
	.club-description, .club-short-description {
		padding: 20px;
	}
	.club-title {
		display: block;
		position: relative;
		text-align: center;
		img {
			display: block;
		}
		.club-title-text {
			display: block;
			position: absolute;
			top: 70px;
			width: 100%;
			text-align: left;
			h3 {
				display: block;
				padding: 0 0 10px 0;
				margin: 0 19px;
				text-transform: uppercase;
				font-size: $baseFontSize * 2.8125; // 45
				border-bottom: 3px solid $white;
				color: $white;
			}
		}
		&, &:hover {
			text-decoration: none;
		}
	}
}

.clubs {
	.event {
		a, a:hover {
			text-decoration: none;
		}
		.event-title {
			display: block;
			padding: 0 20px;
			margin: 0 0 7px 0;
			font-weight: 400;
		}
		.event-details {
			border-top: 1px solid $offWhite;
			border-bottom: 1px solid $offWhite;
		}
		.event-links {
			padding: 20px;
			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				text-align: right;
				@include clearfix();
			}
			li {
				display: inline-block;
			}
			i {
				color: $grayLight;
				font-size: 25px;
			}
			.view {
				float: left;
				font-weight: 400;
				a, i {
					color: $blueLight;
				}
				i {
					margin-right: 14px;
				}
			}
			.twitter, .facebook {
				border-left: 1px solid $grayLight;
				a {
					padding: 2px 10px;
				}
			}
			.facebook {
				border-right: 1px solid $grayLight;
			}
		}
	}
}

.events-filter {
	@include clearfix();
	margin: 0 0 30px 0;
	.filter-title {
		display: block;
		float: left;
		margin: 0 5px 0 0;
		padding: 0;
	}
	ul {
		display: block;
		float: left;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.filter-title, li {
		background: $white;
		border-top: 3px solid #979797;
		border-bottom: 1px solid $grayLighter;
	}
	li {
		display: inline-block;
		padding: 13px 12px 11px 12px;
		margin: 0 0 0 -3px;
		cursor: pointer;
		&.active {
			border-top-color: $skyBlue;
		}
	}
	.filter-title {
		font-size: $baseFontSize * 1.5625;
		color: $skyBlue;
		padding: 13px 40px 11px 18px;
		border-top-color: $skyBlue;
	}
}

.clubs .event, .events .event {
	.event-details {
		display: block;
		position: relative;
		padding: 54px 50px 10px 110px;
		min-height: 107px;
		&, &:hover {
			text-decoration: none;
		}
		&:hover {
			background: $offWhite;
		}
		.event-limited {
			position: absolute;
			top: 0;
			right: 0;
			width: 80px;
			height: 80px;
			background-image: url(../img/limited.png);
			background-repeat: no-repeat;
			background-position: center center;
		}
		.event-date {
			display: block;
			position: absolute;
			margin: 0;
			padding: 0;
			font-size: $baseFontSize * 1.5625;
			line-height: $baseLineHeight * 1.4;
			font-weight: 700;
			text-transform: uppercase;
			color: $blue;
			top: 20px;
			left: 20px;
			.day, .month, .time {
				display: block;
			}
			.time {
				font-weight: 300;
				color: $blue;
				font-size: $baseFontSize * 0.875;
			}
		}
		.event-club, .event-location {
			font-size: $baseFontSize * 1.5625;
			color: $gray;
		}
		.event-club {
			text-transform: uppercase;
			font-weight: 400;
			margin-bottom: 3px;
		}
		.event-location {
			line-height: $baseLineHeight * 1.4;
		}
		.chevron {
			display: block;
			position: absolute;
			color: $blue;
			top: 50%;
			margin: -5px 0 0 0;
			right: 20px;
		}
	}
}

.events {
	.event {
		background: $white;
		border-top: 3px solid $blue;
		border-bottom: 1px solid $grayLighter;
	}
}

#events .mix {
	display: none;
	opacity: 0;
}

#event {
	.event-details {
		@include clearfix();
		margin: 0 0 25px 0;
		h3 {
			display: block;
			float: left;
			width: 310px;
			margin: 0;
			padding: 0;
			line-height: $baseLineHeight * 1.5;
			font-size: $fontSizeLarge;
			font-weight: 400;
			.date-time {
				display: block;
			}
		}
		.btn-tickets {
			float: right;
			display: block;
			background: $green;
			border-bottom: 3px solid $greenDark;
			color: $white;
			font-size: $fontSizeLarge;
		}
	}
	.event-description {
		margin: 0 0 25px 0;
	}
	.event-location {
		strong {
			font-weight: 400;
		}
	}
}

#club {
	.club-links {
		border-top: 1px solid $offWhite;
		padding: 20px;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			text-align: right;
			@include clearfix();
		}
		li {
			display: inline-block;
		}
		i {
			color: $grayLight;
			font-size: 25px;
		}
		.website {
			float: left;
			font-weight: 400;
			a {
				color: $blueLight;
			}
		}
		.twitter, .facebook {
			border-left: 1px solid $grayLight;
			a {
				padding: 2px 10px;
			}
		}
		.facebook {
			border-right: 1px solid $grayLight;
		}
	}
	.club-locations {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			display: inline-block;
			width: 270px;
			margin: 0 20px 25px 0;
			padding: 0;
			strong {
				font-weight: 400;
				display: block;
				margin: 0 0 5px 0;
			}
		}
	}
}

.google-map {
	width: 100%;
	height: 400px;
	border-bottom: 1px solid $grayLight;
	img {
		width: auto;
		max-width: none;
	}
}

.widget {
	&.widget_search {
		form {
			display: block;
			margin: 0;
			padding: 0;
		}
		.input {
			display: inline-block;
			margin: 0;
			width: 185px;
			padding: 10px 5px 8px 5px;
			border: 1px solid $grayLighter;
			border-top-width: 3px;
			border-right-width: 3px;
		}
		.btn-search {
			display: inline-block;
			height: 42px;
			width: 55px;
			padding: 3px 0 0 0;
			background: $green;
			color: $white;
			font-size: $baseFontSize * 1.125;
			border: 0;
			border-bottom: 3px solid $greenDark;
		}
	}
	&.pt-widget-cat-tag {
		ul {
			list-style: none;
			margin: 0 0 20px 0;
			padding: 0;
			border-top: 1px dashed $grayLight;
			&:last-child {
				margin-bottom: 0;
			}
		}
		li {
			border-bottom: 1px dashed $grayLight;
			margin: 0;
			padding: 0;
		}
		a {
			display: block;
			padding: 5px 0;
			text-transform: lowercase;
		}
		.categories-list {
			a {
				@include clearfix();
				.count {
					float: right;
				}
			}
		}
	}
}

.gform_wrapper {
	input.button, .button {
		display: block;
		width: 100%;
		padding: 10px 0;
		background: $green;
		border: 0;
		border-bottom: 3px solid $greenDark;
		color: $white;
		text-align: center;
		font-size: $baseFontSize * 1.625 !important;
		font-weight: 300;
		&:hover {
			background: darken($green, 4%);
		}
	}
	.gform_footer {
		padding-top: 0 !important;
		margin-top: 10px !important;
	}
}

#footer {
	margin: 50px 0 0 0;
	padding: 30px 0;
	background: $white;
	border-top: 1px solid $green;
	.title {
		color: $skyBlue;
		font-weight: 400;
	}
	.footer-nav {
		ul{
			list-style: none;
			margin: 0 0 20px 0;
			padding: 0;
		}
		li {
			display: block;
			margin: 0 0 5px 0;
			padding: 0;
		}
		a {
			color: #6a6a6a;
		}
		&.footer-nav-columns {
			ul {
				@include clearfix();
			}
			li {
				width: 49%;
				float: left;
			}
		}
	}
	.newsletter-signup {
		@include clearfix();
		.email {
			display: block;
			float: left;
			width: 178px;
			margin: 0;
			padding: 15px 20px;
			border: 1px solid $grayLight;
			border-right-color: transparent;
			background: $smoke;
			@include border-radius(0px);
			@include box_shadow(none);
		}
		.signup-button {
			display: block;
			float: left;
			width: 80px;
			border: 0;
			margin: 0;
			padding: 16px 0 15px 0;
			background: $green;
			text-align: center;
			color: $white;
			font-size: 20px;
			@include box_shadow(none);
			&:hover {
				background: darken($green, 10%);
			}
		}
	}
	.social-buttons {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: right;
		li {
			display: inline-block;
			margin: 0 0 0 15px;
			&:first-child {
				margin-left: 0;
			}
		}
		a {
			display: block;
			text-align: center;
			width: 60px;
			height: 30px;
			padding: 19px 0 11px 0;
			background: #208fe5;
			color: $white;
			font-size: 25px;
			i {
				margin-left: 1px;
			}
			&.facebook {
				background: #208fe5;
				&:hover {
					background: darken(#208fe5,10%);
				}
			}
			&.google {
				background: #e75353;
				&:hover {
					background: darken(#e75353,10%);
				}
			}
			&.twitter {
				background: #52c8ff;
				&:hover {
					background: darken(#52c8ff,10%);
				}
			}
			&.rss {
				background: #FF6600;
				&:hover {
					background: darken(#FF6600,10%);
				}
			}
			&.rss {
				background: #FF6600;
				&:hover {
					background: darken(#FF6600,10%);
				}
			}
			&.github {
				background: #4f4f4f;
				&:hover {
					background: darken(#4f4f4f,10%);
				}
			}
			&, &:hover {
				text-decoration: none;
			}
		}
	}
	.credit {
		border-top: 1px solid $grayLight;
		text-align: right;
		margin: 20px 0 0 0;
		padding: 0 0 20px 0;
	}
	.supported-by {
		margin: 0;
		padding: 0;
		list-style: none;
		a, a:hover {
			text-decoration: none;
		}
	}
	h3 {
		text-align: center;
	}
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.article {
		&:after {
			background-image: url(../img/tail@2x.png);
			background-size: 100% 100%;
		}
	}
	.box {
		.box-callout-link {
			background-image: url(../img/callout-link@2x.png);
			background-size: 100% 100%;
		}
	}
	.clubs .event, .events .event {
		.event-details {
			.event-limited {
				background: url(../img/limited@2x.png);
				background-size: 100% 100%;
			}
		}
	}
}